nav {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0px;
    background-color:rgb(255, 247, 224);
}

#right1 {
    width: 20%;
    height: 300px;
    background-color: rgb(255,247,224);
    float: left;
    margin:100px 0px 0px;
}

#body1 {
    width: 1052px;
    height: 300px;
    float: left;
    background-color:#d6d6d6;
    margin: 100px 10px 10px;
    background-image: url(../img/envelop.gif);
    background-size: 100%;
}

#body2 {
    width: 78%;
    height: 300px;
    background-color: #d6d6d6;
    float: left;
    margin: 10px;
    background-image: url(../img/envelop.gif);
    background-size: 100%;
}

#body3 {
    width: 78%;
    height: 300px;
    background-color: #d6d6d6;
    float: left;
    margin: 10px;
    background-image: url(../img/envelop.gif);
    background-size: 100% ;
}

#body4 {
    width: 78%;
    height: 300px;
    background-color: #d6d6d6;
    float: left;
    margin: 10px;
    background-image: url(../img/envelop.gif);
    background-size: 100% ;
}

#bottom {
    width: 100%;
    height: 100px;
    background-color: #433535;
    float: left;
    margin: 10px 0px 0px 0px;
    color:beige;
}

footer {
    width: 100%;
    height: 30px;
    background-color: #312b2b;
    margin: 0px;
    float: left;
    text-align:center;
    line-height: 30px;
}

body {
    background-image: url(../img/bkg.jpg);
    margin: 0px;
}

nav ul a{
    margin: 0px;
    display: block;
    line-height: 80px;
    text-decoration: none;
}

nav ul a:link,a:active,a:visited {
    color: black;
}



nav ul a:hover {
    background: Burlywood;
    color: rgba(48, 48, 211, 0.88);
}




nav li {
    float: left;
    font-size: 28px;
    margin: 0px 10px;
    line-height: 80px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    font-family: 黑体;
}



.logo {
    float: left;
    margin-right: 15px;
}

nav form {
    position: absolute;
    left: 1090px;
    line-height: 80px;
}



nav form input {
    padding: 10px;
    border-radius: 10px;
    background: rgb(255, 247, 224);
}



#pic {
    position: absolute;
    left: 40px;
    margin-top: 30px;
    width: 400px;
    height: 240px;
}

#article {
    position: absolute;
    left: 460px;
    width: 580px;
    height: 240px;
    margin-top: 30px;
    border-style: ;

}

#art_bottom {
    position: absolute;
    bottom: 0px;
    font-family:NEU-YT1 Regular;
    font-size: 14px;
}

#description {
    font-size: 16px;
}

#article a {
    font-size: 28px;
    color: black;
    text-decoration: none;

}

#article a:hover{
    color: blue;
    text-decoration: none;
}

.about {
    width: 50%;
    height:100px;
    margin: 0px;
    float: left;
}

.contact {
    width: 50%;
    height:100px;
    margin: 0px;
    float: left;
}

.contact ul {
    list-style-type: none;
    margin: 0px 0px 0px 30px;
}

.contact li {
    display: inline;
    margin: 60px;
    border-style: solid;
    border-color: #ba9f7c;
}

.content {
    widows: 100%;
    height: 1280px;
    position: absolute;
    top:100px;
}



.weixin {
    float: right;
    display: none;
    width: 100px;
    height: 100px;
    margin: 220px 70px 0px 0px;
    background-color: red;
    position: relative;
    top: 30px;
}
